@import "layout.css";
@import "marketing.css";
@import "not-found.css";
@import "post.css";
@import "resets.css";

a {
  color: #455b82;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
