.home {
  width: 100%;
  overflow-x: hidden;
}

.home__wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 960px) {
  .home__wrapper {
    display: flex;
    max-width: 976px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.home__jumbotron { 
  flex: 1;
  align-self: center;
  min-width: 50%;
  padding-right: 16px;
  padding-left: 16px;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 800ms;
  animation-delay: 300ms;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

.home__title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 3.75rem;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

.home__subtitle {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.home__caption {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

@media (min-width: 960px) {
  .home__title,
  .home__subtitle,
  .home__caption {
    text-align: left;
  }
}

.home__image-container {
  flex: 1;
  max-height: 480px;
  width: 100%;
}

@media (min-width: 1024px) {
  .home__image-container {
    max-height: 640px;
  }
}

.home__image {
  display: block;
  max-height: 480px;
  margin-left: -50%;
}

@media (min-width: 480px) {
  .home__image {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .home__image {
    max-height: 640px;
  }
}

.home__demo-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  height: 48px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #455b82;
  border: none;
  border-radius: 32px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 800ms;
  animation-delay: 400ms;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

@media (min-width: 960px) {
  .home__demo-button {
    right: 24px;
    bottom: 24px;
  }
}
