.layout {
  padding-top: 56px;
}

@media (min-width: 960px) {
  .layout {
    padding-top: 64px;
  }
}

.layout__header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 400;
  display: flex;
  align-items: center;
  height: 56px;
  padding: 10px;
  background-color: #fff;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 800ms;
  animation-delay: 200ms;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

@media (min-width: 960px) {
  .layout__header {
    height: 64px;
    padding: 18px;
  }
}

.layout__header svg {
  width: auto;
  height: 20px;
  padding-left: 6px;
  fill: #455b82;
}
