.post {
  padding: 16px;
}

@media (min-width: 960px) {
  .post {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
  }
}

.post h1 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 3.75rem;
}

.post h2 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.post p,
.post li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.post strong {
  font-weight: 500;
}

.post a {
  color: #455b82;
}

.post ul {
  padding-left: 32px;
}
