---
layout: default
---

<div class="home">
  <div class="home__jumbotron">
    <h1 class="home__title">Messaging for websites and blogs</h1>
    <p class="home__subtitle">{{ site.description }}</p>

    <p class="home__caption">
      <em>Currently in beta. Free without any ads. Paid plans coming soon.</em>
    </p>
  </div>

  {%- if site.cenchat.id and page.cenchat_id -%}
    <button class="home__demo-button" id="cenchat-widget-button" data-site-id="{{ site.cenchat.id }}" data-page-id="{{ page.cenchat_id }}">Try a demo</button>
  {%- endif -%}
</div>
