---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline">{{ page.title | escape }}</h1>
  <div itemprop="articleBody">{{ content }}</div>

  {%- if page.tags.size > 0 -%}
    <footer>
      <div>
        <p class="post__footer-print">
          <em>
            Cenchat is a plugin for websites where it reinvents how we can have conversations with authors. We're only allowed to send private messages to them so the public (and mostly toxic) conversations can happen elsewhere. Authors can then publicize those conversations as read-only so the insightful ones can stand out.
          </em>
        </p>
      </div>

      <ul class="post__tags">
        {%- for tag in page.tags -%}
          <li class="post__tag" itemprop="keywords">{{ tag }}</li>
        {%- endfor -%}
      </ul>
    </footer>
  {%- endif -%}
</article>

{%- if site.cenchat.id and page.cenchat_id -%}
  <button
    class="post__cenchat-button"
    id="cenchat-widget-button"
    data-site-id="{{ site.cenchat.id }}"
    data-page-id="{{ page.cenchat_id }}"
  >
    {%- if page.cenchat_start_chat_text -%}
      {{ page.cenchat_start_chat_text }}
    {% else %}
      Share your thoughts
    {%- endif -%}
  </button>
{%- endif -%}
